button {
    position: fixed;
    z-index: 1;
    margin: 2%;
}

#clear {
  margin-top: 8%;
}

#drawMarkers {
  margin-top: 5%;
}

input {
    width: 60%;
    border-radius: 2px;
}

#userInput {
  border: 10px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
